/venv

.cache

bin/**/*
env/**/*

.vscode
*.code-workspace

*__pycache__*

*.pyc
.ipynb_checkpoints

data

INFO/**/*

inputs

outputs
*.sh
exclude
.coverage
/coverage
/reports
/resources
/venv
/tmp
/cache_data

.env
.DS_Store